{% extends 'pages/base.html' %}

{% block title %} Contact Us {% endblock %}
{% block header_title %} Contact Information {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 ms-auto">
            <p class="lead">Email: andres@ejemplo.com</p>
            <p class="lead">Phone: +1 234 567 890</p>
        </div>
        <div class="col-lg-4 me-auto">
            <p class="lead">Address: Calle 420A Sur #70-99</p>
        </div>
    </div>
</div>
{% endblock %}
